/*CONTAINER BREAKPOINTS*/
.container {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .container {
    width: 560px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1100px
  }
}


/*FONT AND COLOR STUFF*/
* {
      font-family: sans-serif;
}

.text-orange {
  color: #fe7f13;
}

.text-blue {
  color: #2498f4;
}

.blue-background {
  background-color: #2498f4;
}

/*TOP NAV STUFF*/
.mini-raleigh {
  background: linear-gradient(#2498f4,#1d85d8);
}

.top-nav-link {
  color: white;
}

.top-nav-link:hover {
  color: grey;
}

.main-nav {
  background: #134670;
}

.dashboard {
  background: #33cc66;
  color: white;
}



.row-cell {
  background-color: white;
}

.footer-nav {
  background: linear-gradient(#dddddd,#ffffff);
}

/*[class*="i-"] {

}*/
